<%- include('public/header') %>

<link href="/stylesheets/home.css" rel="stylesheet">

<body>

<%- include('components/nav') %>

<%- include('components/carousel') %>

<div class="container runox-about">
    <a name="runox-about"></a>
    <hr class="featurette-divider">

    <div class="my-3">
        <div class="mt-1 py-3 text-center">
            <h2>让每滴奶，都带着牧草的清香</h2>
        </div>

        <p class="lead py-3">
            华莫（上海）信息科技有限公司的核心团队由交大多个专业的硕博士组成。
            旗下品牌"孺牛"依托雄厚的实力，整合智慧牧场资源，
            自主研发人工智能精准零售系统和基于区块链的奶源追溯系统，打造全新的乳制品零售体系。
        </p>
        <p class="lead py-3">
            孺牛基于多年乳制品行业经验，从全国3000多家牧场精选优质奶源，
            精选高水准加工厂，剔除品牌溢价和中间环节，为用户甄选优质乳品。
            依托智能零售终端设备，为消费者提供便捷优质的乳品服务。
        </p>
    </div>
</div>

<%- include('components/featurettes') %>

<div class="container runox-league">
    <a name="runox-contact">
        <h2 class="text-center pt-3 pb-3">加盟流程</h2>
    </a>
    <div class="row pt-3 pb-5">
        <img src="images/league.png" class="mx-auto d-block">
    </div>
</div>

<div class="row runox-contact">
    <div class="col-md-5 center">
        <a name="runox-contact"></a>
        <h2 class="text-center pt-5 pb-3">联系我们</h2>
        <div class="row  pt-3 pb-5">
            <div class="col-md-4 my-2">
                <img src="images/wechat_runox.jpg" class="mx-auto d-block" width="160px">
            </div>
            <div class="col-md-8 my-2">
                <div class="mx-3">
                    <p>华莫（上海）信息科技有限公司</p>
                    <p><i class="fa fa-phone"></i> 138-1888-2751</p>
                    <p><i class="fa fa-envelope"></i> service@runoxmilk.com</p>
                    <p><i class="fa fa-map-marker"></i> 上海市闵行区剑川路951号1号楼南楼814室</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('public/footer') %>

</body>
</html>
