<%- include('public/header') %>

<link href="/stylesheets/home.css" rel="stylesheet">

<body>

<%- include('components/nav') %>

<%- include('components/carousel') %>
<%- include('components/featurettes') %>

<%- include('public/footer') %>

</body>
</html>
